---
import { getTripRegions, getCountryCityFromRegion } from "@src/lib/travels"
import Layout from "@src/layouts/Layout.astro"
import GalleryIndex from "@src/components/Gallery/Index.astro"

export async function getStaticPaths() {
  return [
    {
      params: { trip: "digital-nomad" },
      props: { trippy: "" },
    },
  ]
}

const { trip } = Astro.params
const regions = getTripRegions(trip)
---

<Layout title="Home">
  {
    regions.map((region) => (
      <div class="py-7">
        <GalleryIndex pictures={region.pictures} title={region.title} />
      </div>
    ))
  }
</Layout>
