---
import { getTripRegions } from "@src/lib/travels"
import Layout from "@src/layouts/Layout.astro"
import GalleryIndex from "@src/components/Gallery/Index.astro"

export async function getStaticPaths() {
  return [
    {
      params: { trip: "digital-nomad" },
      props: { trippy: "" },
    },
  ]
}

const { trip } = Astro.params
const regions = getTripRegions(trip)
---

<Layout title="Home">
  {
    regions.map((region) => (
      <div class="">
        <h2 class="text-2xl">{region.name}</h2>
        <GalleryIndex pictures={region.pictures} />
      </div>
    ))
  }
</Layout>
