---
import { getCollection, getEntry, render } from "astro:content";
import Layout from "@src/layouts/Layout.astro";

export async function getStaticPaths() {
  const posts = await getCollection("posts");
  return posts.map((post) => ({
    params: { id: post.id },
    props: { post },
  }));
}

const { post } = Astro.props;
const postEntry = await getEntry(post);
const { Content } = await render(post);
---

<Layout title={postEntry.data.title}>
  <h1>{post.data.title}</h1>
  <Content />
</Layout>
