---
import type { CollectionEntry } from "astro:content";
import { getCollection } from "astro:content";
import Layout from "@src/layouts/Layout.astro";

const posts: CollectionEntry<"posts">[] = await getCollection("posts");
---

<Layout>
  <ul>
    {
      posts.map((post) => (
        <li>
          <a href={`/posts/${post.id}`}>{post.data.title}</a>
        </li>
      ))
    }
  </ul>
</Layout>
