---
import type { ImageMetadata } from "astro";
import { Image } from "astro:assets";
import Layout from "@src/layouts/Layout.astro";

interface Photo {
  path: string;
  name: string;
  import: () => Promise<{ default: ImageMetadata }>;
}

interface Album {
  name: string;
  subName: string | undefined;
  photos: Photo[];
}

const album = "digital-nomad";
const images = import.meta.glob<{ default: ImageMetadata }>(
  "/src/data/photos/**/*",
);
const imagesKeys = Object.keys(images);
const subAlbums = imagesKeys
  .filter((imagePath) => imagePath.includes(`/${album}/`))
  .reduce((arr: Album[], imagePath) => {
    const pathSplit = imagePath.split("/");
    const subName = pathSplit.at(-2) || "";
    const albumExists = arr.find((obj) => obj.subName === subName);

    if (!albumExists) {
      const pathSplit = imagePath.split("/");
      const subName = pathSplit.at(-2) || "";
      const photos = imagesKeys
        .filter((imagePath) => imagePath.includes(subName))
        .map((imagePath) => ({
          path: imagePath,
          name: pathSplit.at(-1) || "",
          import: images[imagePath],
        }));

      arr.push({ name: album, subName, photos });
    }

    return arr;
  }, []);
---

<Layout>
  {
    subAlbums.map((subAlbum) => (
      <div>
        <h1>{subAlbum.subName}</h1>

        <ul class="flex">
          {subAlbum.photos.map((photo) => (
            <li>
              <Image src={photo.import()} alt={photo.name} width={200} />
            </li>
          ))}
        </ul>
      </div>
    ))
  }
</Layout>
