---
import Layout from "@src/layouts/Layout.astro";
import GalleryIndex from "@src/components/Gallery/Index.astro";
import { getAlbumSorted } from "@src/lib/photos.ts";
import type { GetStaticPaths } from "astro";

interface Params {
  album: string;
}

export const getStaticPaths = (() => {
  return [{ params: { album: "digital-nomad" } }];
}) satisfies GetStaticPaths;

const { album } = Astro.params as Params;
const albumObj = getAlbumSorted(album);
---

<Layout>
  <h1 class="text-4xl">{albumObj.name}</h1>

  {albumObj.subAlbums.map((subAlbum) => <GalleryIndex {subAlbum} />)}
</Layout>
