---
import { getEntry, render } from "astro:content";
import Layout from "@src/layouts/Layout.astro";
import GalleryIndex from "@src/components/Gallery/Index.astro";
import { getAlbumsStaticPaths, getAlbumSorted } from "@src/lib/albums.ts";

interface Params {
  album: string;
}

export const getStaticPaths = getAlbumsStaticPaths();

const { album } = Astro.params as Params;
const albumEntry = await getEntry("albums", album);

if (!albumEntry) {
  throw Error("Could not find album");
}

const { Content } = await render(albumEntry);
const albumSorted = getAlbumSorted(album);
---

<Layout title={`${albumEntry.data.title} Album`}>
  <h1 class="text-3xl sm:text-4xl px-2 sm:px-0">{albumEntry.data.title}</h1>

  <div class="px-2 sm:px-0 mb-6">
    <Content />
  </div>

  <div class="space-y-10">
    {
      albumSorted.subAlbums.map((subAlbum) => (
        <div>
          <GalleryIndex albumTitle={albumEntry.data.title} {subAlbum} />
        </div>
      ))
    }
  </div>
</Layout>
