---
import { getEntry, render } from "astro:content";
import Layout from "@src/layouts/Layout.astro";
import GalleryIndex from "@src/components/Gallery/Index.astro";
import { getAlbumsStaticPaths, getAlbumSorted } from "@src/lib/albums.ts";

interface Params {
  album: string;
}

export const getStaticPaths = getAlbumsStaticPaths();

const { album } = Astro.params as Params;
const albumEntry = await getEntry("albums", album);

if (!albumEntry) {
  throw Error("Could not find album");
}

const { Content } = await render(albumEntry);
const albumSorted = getAlbumSorted(album);
---

<Layout>
  <h1 class="text-4xl">{albumEntry.data.title}</h1>

  <Content />

  {
    albumSorted.subAlbums.map((subAlbum) => (
      <GalleryIndex albumTitle={albumEntry.data.title} {subAlbum} />
    ))
  }
</Layout>
