@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --color-light-primary: var(--color-stone-50);
  --color-light-secondary: var(--color-stone-200);
  --color-light-accent: var(--color-orange-500);

  --color-dark-primary: var(--color-stone-950);
  --color-dark-secondary: var(--color-stone-900);
  --color-dark-accent: var(--color-orange-500);
}


.astro-code {
  padding: 1rem;
  margin: 0.5rem;
  border-radius: var(--radius-sm);
  background-color: var(--color-light-secondary) !important;
}

.dark .astro-code,
.dark .astro-code span {
  color: var(--shiki-dark) !important;
  background-color: var(--color-dark-secondary) !important;
}