---
import { Icon } from "astro-icon/components";
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <h1 class="text-6xl text-orange-800">
    <Icon name="solar:sun-2-bold-duotone" />
  </h1>
</Layout>
