---
import { execSync } from "child_process";
import Layout from "@src/layouts/Layout.astro";

const lastLogStr = execSync(
  `git log -1 --pretty=format:'{"hash": "%H", "date": "%ai", "message": "%s"}'`,
);
const lastCommit = JSON.parse(lastLogStr.toString());
const lastCommitDate = new Date(lastCommit.date);
const lastCommitDateStr = lastCommitDate.toLocaleDateString("en-US", {
  year: "numeric",
  month: "2-digit",
  day: "2-digit",
  hour: "2-digit",
  minute: "2-digit",
});
---

<Layout title="Now">
  <h1 class="text-4xl">Now</h1>
  <h2 class="text-sm">Last updated at {lastCommitDate}</h2>

  <h3 class="text-2xl">Last commit to this site</h3>
  <a
    href={`https://github.com/mustardamus/mustardamus.com/commit/${lastCommit.hash}`}
    target="_blank"
    class="text-sm"
  >
    <span class="opacity-60">{lastCommitDateStr}</span>
    <span>{lastCommit.message}</span>
  </a>
</Layout>
