---
import Logo from "./Logo.astro";
import TopLink from "./TopLink.astro";
import RoundIconLink from "../RoundIconLink.astro";
import DarkModeSwitch from "@src/components/DarkModeSwitch.astro";
import type { Link } from "@src/env";

interface Props {
  topLinks: Link[];
  socialLinks: Link[];
}

const { topLinks = [], socialLinks = [] } = Astro.props as Props;
---

<nav>
  <div
    class:list={[
      "flex items-center select-none",
      "sm:mt-4 sm:rounded-sm",
      "bg-light-secondary dark:bg-dark-secondary",
    ]}
  >
    <div class="flex items-center m-1 sm:m-2">
      <Logo />
    </div>

    <ul class="grow flex justify-end my-2 mr-2 sm:mr-6">
      {
        topLinks.map((link) => (
          <li class="ml-1 sm:ml-4">
            <TopLink {link} />
          </li>
        ))
      }
    </ul>
  </div>

  <div class:list={["flex items-center", "mx-1 mt-1"]}>
    <ul class="flex mt-1 ml-1 sm:ml-0">
      {
        socialLinks.map((link) => (
          <li class="mr-1 sm:mr-2">
            <RoundIconLink {link} target="_blank" />
          </li>
        ))
      }
    </ul>

    <div class="grow flex justify-end mr-1 sm:mr-0">
      <div
        class:list={[
          "inline-block rounded-full p-1 transition-all",
          "border-2 border-transparent",
          "bg-light-secondary dark:bg-dark-secondary",
          "hover:border-light-accent dark:hover:border-dark-accent",
        ]}
      >
        <DarkModeSwitch />
      </div>
    </div>
  </div>
</nav>
