---
import { Icon } from "astro-icon/components"
import ThemeController from "./ThemeController.astro"

interface Link {
  title: string
  href: string
  icon: string
}

interface Props {
  links: Link[]
}

const { links = [] }: Props = Astro.props
const { pathname } = Astro.url

function isCurrentPage(href: string): boolean {
  if (pathname === href || (href !== "/" && pathname.startsWith(href))) {
    return true
  }

  return false
}
---

<nav
  class:list={[
    "relative",
    "bg-stone-100 text-stone-950 dark:bg-stone-900 dark:text-stone-50",
  ]}
>
  <div class="max-w-screen-lg mx-auto flex items-center min-h-16 h-16">
    <a
      href="/"
      class:list={[
        "inline-block rounded-full p-1 ml-2",
        "bg-stone-100 dark:bg-stone-900",
        "translate-y-2 hover:translate-y-3 transition-all",
      ]}
    >
      <img src="/public/logo.png" alt="Mustardamus" class="w-16" />
    </a>

    <div class="grow flex justify-end">
      <div class="p-3.5">
        <ThemeController />
      </div>

      <button id="nav-bar-burger" class="px-5 sm:hidden transition-all">
        <Icon name="solar:hamburger-menu-line-duotone" size={24} />
      </button>

      <div
        id="nav-bar-menu"
        class:list={[
          "bg-stone-100 dark:bg-stone-900",
          "hidden absolute top-16 right-0 px-4 py-2 rounded-bl-md shadow-xl",
          "sm:inline-block sm:relative sm:top-0 sm:p-0 sm:mr-1 sm:shadow-none",
        ]}
      >
        <ul class="sm:flex">
          {
            links.map((link: Link) => (
              <li>
                <a
                  href={link.href}
                  class:list={[
                    "flex px-12 py-2 m-2 rounded transition-all",
                    "bg-stone-200 dark:bg-stone-800",
                    "hover:bg-stone-300 dark:hover:bg-stone-950",
                    "sm:px-4 sm:hover:translate-y-1",
                    isCurrentPage(link.href) && [
                      "bg-stone-200 dark:bg-stone-950",
                    ],
                  ]}
                >
                  <Icon name={link.icon} size={22} />
                  <span class="px-1">{link.title}</span>
                </a>
              </li>
            ))
          }
        </ul>
      </div>
    </div>
  </div>
</nav>

<script>
  const burgerEl = document.getElementById("nav-bar-burger")
  const menuEl = document.getElementById("nav-bar-menu")

  burgerEl?.addEventListener("click", () => {
    burgerEl?.classList.toggle("rotate-90")
    menuEl?.classList.toggle("hidden")
  })
</script>
