---
import { Image } from "astro:assets";
import { Icon } from "astro-icon/components";
import type { Photo } from "@src/env";

interface Props {
  photo: Photo;
  isNext?: boolean;
}

const { photo, isNext = false } = Astro.props as Props;
---

<a
  href={`/albums/${photo.album}/${photo.name}#photo`}
  class="group inline-flex items-center rounded-sm transition-all"
>
  <Icon
    name={`solar:round-alt-arrow-${isNext ? "right" : "left"}-bold`}
    size={28}
    class:list={[
      "rounded-full transition-all",
      "bg-light-secondary dark:bg-dark-secondary",
      "text-dark-secondary dark:text-light-secondary",
      "group-hover:text-light-accent group-hover:dark:text-light-accent",
      isNext
        ? ["order-2 -translate-x-3 group-hover:-translate-x-1"]
        : ["translate-x-3 group-hover:translate-x-1"],
    ]}
  />
  <span
    class:list={[
      "lg:p-0.5 lg:rounded-sm",
      "lg:bg-light-secondary lg:dark:bg-dark-secondary",
    ]}
  >
    <Image
      src={photo.import()}
      alt={photo.name}
      width={180}
      class="rounded-sm"
    />
  </span>
</a>
