---
import { Image } from "astro:assets";
import { Icon } from "astro-icon/components";
import type { Photo } from "@src/env";

interface Props {
  photo: Photo;
  isNext?: boolean;
}

const { photo, isNext = false } = Astro.props as Props;
---

<a
  href={`/albums/${photo.album}/${photo.name}#photo`}
  class:list={[
    "group relative inline-block p-0.5",
    "rounded-sm transition-all",
    "bg-light-primary dark:bg-dark-primary",
    "lg:bg-light-secondary lg:dark:bg-dark-secondary",
    "hover:bg-light-accent dark:hover:bg-dark-accent",
  ]}
>
  <Image src={photo.import()} alt={photo.name} width={180} class="rounded-sm" />

  <div class:list={["absolute w-full h-full top-0 left-0 flex items-center"]}>
    <div
      class:list={[
        "w-full inline-flex",
        isNext ? "justify-end" : "justify-start",
      ]}
    >
      <Icon
        name={`solar:round-alt-arrow-${isNext ? "right" : "left"}-bold`}
        size={28}
        class:list={[
          "rounded-full transition-all",
          "bg-light-secondary dark:bg-dark-secondary",
          "group-hover:bg-light-accent dark:group-hover:bg-dark-accent",
          isNext
            ? "-translate-x-2 group-hover:translate-x-2"
            : "translate-x-2 group-hover:-translate-x-2",
        ]}
      />
    </div>
  </div>
</a>
