---
import { Icon } from "astro-icon/components";
import MoveTop from "./MoveTop.astro";
import Postcard from "./Postcard.astro";
import TechLinks from "./TechLinks.astro";

interface Props {
  techLinks: Link[];
}

const { techLinks = [] } = Astro.props as Props;
---

<footer class="container mx-auto select-none">
  <div class="flex justify-end mr-2 sm:mr-1">
    <MoveTop />
  </div>

  <div
    class:list={[
      "flex items-center p-2",
      "mt-2 sm:mb-8 sm:mx-1 sm:rounded-sm",
      "bg-light-secondary dark:bg-dark-secondary",
      "text-dark-secondary dark:text-light-secondary",
    ]}
  >
    <div class="px-8 lg:px-14">
      <Postcard />
    </div>

    <div class="pb-3">
      <div class="relative pt-8 pb-4">
        <Icon
          name="solar:arrow-to-down-right-broken"
          size={62}
          class="absolute -left-11 -top-2 z-50 rotate-70 text-light-accent"
        />
        <span class="text-sm">
          This website was handcrafted by this dude, with these technologies:
        </span>
      </div>

      <TechLinks {techLinks} />
    </div>
  </div>
</footer>
