---
import { Icon } from "astro-icon/components";
import { Image } from "astro:assets";
import dudeImage from "@src/assets/images/croatia-24.png";

interface Props {
  techLinks: Link[];
}

const { techLinks = [] } = Astro.props as Props;
---

<footer class="container mx-auto select-none">
  <div class="flex items-center m-1">
    <!-- <ul>links</ul> -->

    <div class="grow flex justify-end mr-1 sm:mr-0">
      <a
        href="#top"
        title="Up to the top!"
        class:list={[
          "inline-block rounded-full p-1 transition-all",
          "border-2 border-transparent",
          "bg-light-secondary dark:bg-dark-secondary",
          "text-dark-primary dark:text-light-secondary",
          "hover:border-light-accent dark:hover:border-dark-accent",
        ]}
      >
        <Icon name="solar:round-double-alt-arrow-up-bold-duotone" size={24} />
      </a>
    </div>
  </div>

  <div
    class:list={[
      "flex items-center p-2",

      "mt-2 sm:mb-4 sm:mx-1 sm:rounded-sm",
      "bg-light-secondary dark:bg-dark-secondary",
    ]}
  >
    <div class="px-4">
      <Image
        src={dudeImage}
        alt="On Bike Tour - Croatia 2024"
        width={360}
        quality={100}
        class="rounded-sm rotate-3 shadow-sm"
      />
    </div>
    <div class="">
      <ul class="opacity-60 text-sm">
        {
          techLinks.map((link) => (
            <li class="my-1">
              <a
                href={link.href}
                target="_blank"
                class:list={[
                  "group flex items-center transition-all",
                  "text-dark-secondary dark:text-light-secondary",
                  "hover:text-light-accent dark:hover:text-dark-accent",
                ]}
              >
                <Icon name={link.icon} size={18} />
                <span class="pl-1">{link.title}</span>
              </a>
            </li>
          ))
        }
        <li class="my-1 flex items-center">
          <Icon name="solar:ghost-smile-bold" size={18} />
          <div class="pl-1">
            Icons
            <a href="https://icon-sets.iconify.design/solar/">1</a>
            <a href="https://icon-sets.iconify.design/cib/">2</a>
            <a href="https://icon-sets.iconify.design/lineicons/">3</a>
            <a href="https://icon-sets.iconify.design/simple-icons/">4</a>
          </div>
        </li>
      </ul>
    </div>
  </div>
</footer>

<script is:inline>
  document.querySelector("a[href='#top']")?.addEventListener("click", (e) => {
    window.scrollTo({ top: 0, behavior: "smooth" });
    e.preventDefault();
    return false;
  });
</script>
