---
import { Icon } from "astro-icon/components";
import MoveTop from "./MoveTop.astro";
import Postcard from "./Postcard.astro";
import TechLinks from "./TechLinks.astro";
import RoundIconLink from "../RoundIconLink.astro";

interface Props {
  techLinks: Link[];
  topLinks: Link[];
}

const { techLinks = [], topLinks = [] } = Astro.props as Props;
---

<footer class="container mx-auto select-none">
  <div class="flex justify-end mr-2 sm:mr-1">
    <MoveTop />
  </div>

  <div
    class:list={[
      "flex flex-col sm:flex-row",
      "mt-2 p-2 sm:mb-8 sm:mx-1 sm:rounded-sm",
      "bg-light-secondary dark:bg-dark-secondary",
      "text-dark-secondary dark:text-light-secondary",
    ]}
  >
    <div class="flex">
      <div class="px-8 lg:px-14 pt-6 lg:pt-0 lg:ml-10">
        <Postcard />
      </div>

      <div>
        <div class="relative pt-8 pb-2 pl-1 max-w-60">
          <Icon
            name="solar:arrow-to-down-right-broken"
            size={62}
            class="absolute -left-11 -top-2 z-50 rotate-70 text-light-accent"
          />
          <span class="text-sm">
            This website was handcrafted by this dude, with these technologies:
          </span>
        </div>

        <TechLinks {techLinks} />
      </div>
    </div>

    <div class="flex justify-center grow">
      <ul class="inline-flex flex-row sm:flex-col lg:flex-row mt-2 lg:mt-8">
        {
          topLinks.map((link) => (
            <li class="m-1">
              <RoundIconLink
                {link}
                bgClass="bg-light-primary dark:bg-dark-primary"
              />
            </li>
          ))
        }
      </ul>
    </div>
  </div>
</footer>
