---
import { Icon } from "astro-icon/components";
---

<footer class="container mx-auto select-none">
  <div class="flex items-center m-1">
    <!-- <ul>links</ul> -->

    <div class="grow flex justify-end mr-1 sm:mr-0">
      <a
        href="#top"
        title="Up to the top!"
        class:list={[
          "inline-block rounded-full p-1 transition-all",
          "border-2 border-transparent",
          "bg-light-secondary dark:bg-dark-secondary",
          "text-dark-primary dark:text-light-secondary",
          "hover:border-light-accent dark:hover:border-dark-accent",
        ]}
      >
        <Icon name="solar:round-double-alt-arrow-up-bold-duotone" size={24} />
      </a>
    </div>
  </div>

  <div
    class:list={[
      "flex items-center",
      "mt-2 sm:mb-4 sm:mx-1 sm:rounded-sm",
      "bg-light-secondary dark:bg-dark-secondary",
    ]}
  >
    links..
  </div>
</footer>

<script is:inline>
  document.querySelector("a[href='#top']")?.addEventListener("click", (e) => {
    window.scrollTo({ top: 0, behavior: "smooth" });
    e.preventDefault();
    return false;
  });
</script>
