---
import { getCollection } from "astro:content";
import { Image } from "astro:assets";
import Layout from "@src/layouts/Layout.astro";
import type { CollectionEntry } from "astro:content";

const albums: CollectionEntry<"albums">[] = await getCollection("albums");
---

<Layout>
  <ul>
    {
      albums.map((album) => (
        <li>
          <a href={`/albums/${album.data.slug}`}>{album.data.title}</a>
          {album.data.desc}

          <Image src={album.data.thumb1} alt="" />
        </li>
      ))
    }
  </ul>
</Layout>
