---
import type { CollectionEntry } from "astro:content";
import { getCollection } from "astro:content";
import Layout from "@src/layouts/Layout.astro";

const photos: CollectionEntry<"albums">[] = await getCollection("albums");
---

<Layout>
  <ul>
    {
      photos.map((album) => (
        <li>
          <a href={`/albums/${album.data.slug}`}>{album.data.title}</a>
        </li>
      ))
    }
  </ul>
</Layout>
