---
import { getCollection, type CollectionEntry } from "astro:content";
import Layout from "@src/layouts/Layout.astro";
import AlbumStack from "@src/components/AlbumStack.astro";

const albums: CollectionEntry<"albums">[] = await getCollection("albums");
---

<Layout title="Albums">
  <div class="space-y-20 sm:space-y-24 lg:space-y-28 my-10">
    {albums.map((album) => <AlbumStack {album} />)}
  </div>
</Layout>
