---
import { getCollection } from "astro:content";
import { Image } from "astro:assets";
import Layout from "@src/layouts/Layout.astro";
import type { CollectionEntry } from "astro:content";
import { getAlbumPhotos } from "@src/lib/albums";

const albums: CollectionEntry<"albums">[] = await getCollection("albums");

function getThumbImage(album: string, thumb: string) {
  const photos = getAlbumPhotos(album);
  return photos.find((p) => p.path.includes(thumb));
}
---

<Layout>
  <ul>
    {
      albums.map((album) => (
        <li>
          <a href={`/albums/${album.data.slug}`}>{album.data.title}</a>
          {album.data.desc}

          {album.data.thumbs.map((thumb) => (
            <div>
              <Image
                src={getThumbImage(album.data.slug, thumb)?.import()}
                alt=""
              />
            </div>
          ))}
        </li>
      ))
    }
  </ul>
</Layout>
