---
import "../assets/css/main.css"
import NavBar from "../components/NavBar.astro"

const { title } = Astro.props
const navBarLinks = [
  { title: "Home", href: "/", icon: "solar:home-bold-duotone" },
  { title: "Posts", href: "/posts", icon: "solar:book-2-bold-duotone" },
  { title: "Travels", href: "/travels", icon: "solar:earth-bold-duotone" },
]
---

<html lang="en" class="dark">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />

    <title>Mustardamus - {title}</title>

    <style is:inline>
      html {
        visibility: hidden;
        opacity: 0;
      }
    </style>
  </head>

  <body class="bg-white dark:bg-stone-950">
    <NavBar links={navBarLinks} />
    <slot />
  </body>
</html>
