---
import "../assets/css/global.css";
import NavBar from "../components/NavBar.astro";

const links: Link[] = [
  { title: "Home", href: "/", icon: "solar:home-bold-duotone" },
  { title: "Posts", href: "/posts", icon: "solar:book-bookmark-bold-duotone" },
];
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />

    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <title>Mustardamus</title>
  </head>

  <body class="bg-light-primary dark:bg-dark-primary transition-all">
    <NavBar {links} />
    <slot />
  </body>
</html>
